@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

// font / text
$primary-font: "Noto Sans KR", sans-serif;
$dark-gray: #212121; // gray 900
$light-pink: pink; // gray 900
$header-font-size: 1.2em;
$description-font-size: 0.8em;

$primary: #6200ee; // purple 500
$primary-alt: #3700b3; // purple 700
$secondary: #03dac5; // teal

$large-widget-width: 90vw;
